body, ul, li, h1, a{
    margin: 0px;
    padding: 0px;
    font-family: Tahoma;
}
header{
    background-color:#F63232;
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.header1{
    color: white;
    border: 8px solid white;
    border-radius: 35px;
    display: inline-block;
    padding: 5px 10px;
    margin: 0px;
    font-family: Verdana;
} 
.banner{
    position: relative;
}
.banner img{
    max-width: 100%;
} 
section{
    display: block;
}
.main-nav{
    background-color: #F4F4F4;;
    padding: 25px;
    position: sticky;
    top: 100px;
    z-index: 1;
    display: block;
} 
.main-nav a{
    align-items: center;
    text-decoration: none;
    color: #4B4B4B;
}
li{
    list-style-type: none;
    display: inline;
    padding: 95px;
    font-size: 25px;
}
.header2{
    color: red;
    font-size: 40px;
    padding-left: 120px;
    margin-top: 50px;
}
.section1 p{
padding-left: 120px;
font-size: 20px;
}
.section1 img{
    margin: 70px;
    padding-left: 90px;
    width: 30%;
    display: inline-block;
}
.section2{
    background-color: #F4F4F4;
    padding: 30px;
    padding-top: 40px;
}
.section2 h2{
    font-size: 35px;
    text-align: center;
    color: #4B4B4B;
}
.section2 p{
    text-align: center;
    columns: #4B4B4B;
    font-size: 20px;
}
.submit:hover{
    background-color: yellow;
    cursor: pointer;
}
.email:hover{
    background-color: yellow;
    cursor: pointer;
}
form input{
    border-radius: 28px;
    border: 3px solid green;
    padding: 10px 20px;
    margin: 20px 0px;
    font-size: 20px;
}
.form{
    text-align: center;
}
footer{
    background-color: #F63232;
    padding: 22px;
    text-align: center;
    color: white;
}
footer p{
    font-size: 18px;
}

